.clients-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
    list-style: none;
}

.client-section {
    height: 6rem;
    display: flex;
    justify-content: center;
    & a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & .client-logo {
        height: 100%;
        object-fit: scale-down;
        }
    }
}

.cli-anim-appear {
    opacity: 0;
    transform: scale(0.2,0.2);
    
}

.cli-anim-appear-active {
    opacity: 1;
    transform: scale(1,1);
    transition: all 400ms cubic-bezier(0.865, 1.595, 0.845, 0.840);
}

.cli-anim-enter {
    opacity: 1;
    transform: scale(1,1);
    transition: all 200ms linear;
}


.section-tech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tech {
    width: 100%;
    padding: 0.5rem;
    .icon {
        height: 64px;
        width: 64px;
        padding: 0.3rem;
        fill: var(--secondary);
    }
}

@supports not (display: grid) {
    .clients-container {
        display: flex;
        flex-direction: row;
    }

    .client-card {
        width: 50%;
    }
  }

/* Media queries */

@media (min-width: 400px) {
  

  }

@media (min-width: 735px) {
    .clients-container {
        grid-template-columns: repeat(5, 1fr);
    }
    .tech {
        width: 33%;
    }
}