
.popup-appear {
    opacity: 0;
    transform: translate(0, 300px);
}

.popup-appear-active {
    opacity: 1;
    transform: translate(0,0);
    transition: all 600ms cubic-bezier(0.865, 1.595, 0.845, 0.840);
}

.popup-enter {
    opacity: 0;
}

.popup-enter-active {
    opacity: 1;
    transition: all 200ms linear 100ms;
}


.popup-exit {
    opacity: 1;
}

.popup-exit-active {
    opacity: 0;
    transition: all 200ms linear;
}


.popup-exit-done {
    opacity: 0;
}

.fade-appear {
    opacity: 0;
}

.fade-appear-active {
    opacity: 1;
    transition: all 200ms ease-in;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: all 200ms linear 100ms;
}


.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: all 200ms linear;
}


.fade-exit-done {
    opacity: 0;
}

.tag-cloud {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    button {
        margin-bottom: 0.4rem;
    }
}

.filter-button {
    margin: 0 0.2rem;
    background: none;
    border: 1px solid lightgray;
    color: gray;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin-bottom: 4rem;
    list-style: none;
    min-height: 50vh;
}

.project-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  object-fit: cover;
  transition: all 200ms;
  a {
      text-decoration: none;
      color: #3e272b;
  }
  &:hover {
    transform: translate(0,-10px);
    box-shadow: 4px 4px 4px 2px lightgray;
    transition: all 200ms;
  }

  h2 {
      max-width: 100%;
      font-size: 1.2rem;
      margin: 0.4rem 0;
      color: #3e272b;
      display: inline-flex;
  }
  .content {
    height: 8rem;
  }
}

.icon-tray {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 0.5rem;
    height: 48px;
    border-top: 1px solid gray;

    .icon {
        height: 32px;
        width: 32px;
        fill: var(--secondary);
        transition: fill 500ms;
        &:hover {
            fill: var(--primary);
            transition: fill 500ms;
        }
    }
}

.icon-wrap{
    position: relative;
}

.icon-wrap:hover>.project-tooltip {   
        display: block;
        opacity: 1;
        transition: all 200ms;
    }


.svg-icon {
    height: 32px;
    width: 32px;
}


.project-image {
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
}

.project-tooltip {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 150px;
    min-width: 100px;
    max-width: 250px;
    font-size: 12px;
    text-align: center;
    top: -3rem;
    padding: 0.5rem;
    z-index: 10;
    background-color: orange;
    border-radius: 12px;
    color: white;
    display: none;
    z-index: 10;
    /*animation: tooltip 0.3s cubic-bezier();*/
    &:after {
        content:'';
        position: absolute;
        top: calc(100%-2px);
        left: 15%;
        width: 0;
        height: 0;
        border-top: solid 10px orange;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
    }
    opacity: 0;
    transition: all 200ms;
}



@supports not (display: grid) {
    .projects-container {
        display: flex;
        flex-direction: row;
    }

    .project-card {
        width: 50%;
    }
  }

/* Media queries */

@media (min-width: 750px) {
    .projects-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .project-image {
        min-height: 200px;
        max-height: 200px;
        object-fit: cover;
    }
  }


/* Animation */

@keyframes tooltip {
    0% {
        opacity: 0;
        transform: scale(0.1, 0.1);
        transform: translate(0, 60px);
    }
    75% {
        opacity: 0.9;
        transform: scale(1.2, 1.2);
    }
    80% {
        transform: scale(1, 0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}