/* Colors */

:root {
    --primary: #ffab47;
    --primary-light: #ffe357;
    --text: #3e272b;
    --secondary: #315d7b;
    --secondary-light: #99b7de;
    --secondary-dark: #505fab;
}

/* Utility classes */
.center {
    text-align: center;
    align-self: center;
}

.undecorated {
    list-style: none;
}

.sticky-wrapper {
    position: relative;
    height: 6rem;
}

.sticky nav {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index:1;
    background-color: white;
}

/* Other classes */

body {
    color: var(--text);
}


/* Front page */

#intro-image {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url('../images/self-portrait.png');
    background-size: cover;
    background-position: center;
    transition: all 500ms;
    margin-bottom: 2rem;
}

#intro-image:hover {
    background-image: url('../images/self-portrait-photo.jpg');
    transition: all 500ms;
}
.front-page-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}


/* Projects page */
.projects-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin-bottom: 2rem;
    list-style: none;
}

.project-card {
  box-shadow: 4px 4px 4px 2px lightgray;
  width: 1fr;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  object-fit: cover;
}

.icon-tray {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 0.5rem;
    height: 48px;
    border-top: 1px solid gray;
}

.icon {
    height: 32px;
    width: 32px;
    fill: var(--secondary);
    transition: fill 500ms;
}

.icon:hover {
    fill: var(--primary);
    transition: fill 500ms;
}


.icon-tray .icon {
    height: 32px;
    width: 32px;
}

.icon-tray .icon:hover {
    fill: var(--primary);
}

.svg-icon {
    height: 32px;
    width: 32px;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-image {
    min-height: 200px;
    object-fit: cover;
}

.project-tooltip {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 150px;
    min-width: 100px;
    max-width: 250px;
    font-size: 12px;
    text-align: center;
    top: -3rem;
    padding: 0.5rem;
    background-color: orange;
    border-radius: 12px;
    color: white;
    display: none;
    z-index: 10;
    animation: tooltip 0.3s cubic-bezier();
}

.project-tooltip:after {
    content:'';
    position: absolute;
    top: calc(100%-2px);
    left: 15%;
    width: 0;
    height: 0;
    border-top: solid 10px orange;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.icon-span:hover > .project-tooltip {
    display: block;
} 

/* Posts */
.featured-post-image {
    height: 100px;
    width: 100px;
}


/* Misc */

main {
    margin-bottom: 1rem;
}

footer {
    border-top: 1px solid gray;
}

/* Animations */

@keyframes tooltip {
    0% {
        opacity: 0;
        transform: scale(0.1,0.1);
        transform: translate(0,60px);
    }
    75% {
        opacity: 0.9;
        transform: scale(1.2,1.1);
    }
    80% {
        transform: scale(1, 0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
    }
  }

/* Fallbacks */

@supports not (display: grid) {
    .projects-container {
        display: flex;
        flex-direction: row;
    }

    .project-card {
        width: 50%;
    }
  }

/* Media queries */

@media (min-width: 750px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }

  }

@media (min-width: 1024px) {

    .top-menu-item {
        flex-grow: 0;
    }
  } 