
.top-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    align-items: center;
  }
  
  .top-menu-item {
    padding: 0.3rem 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    flex-grow: 1;
  }

  .top-menu-item:hover {
      transform: scale(1.1);
  }
  
  .active {
      border-bottom: 1px solid orange;
      border-right: 1px solid orange;
  }
  
  .top-menu-link {
    text-decoration: none;
  }

.projects-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin-bottom: 2rem;
}

.project-card {
  box-shadow: 4px 4px 4px 2px lightgray;
  width: 1fr;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.icon-tray {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 0.5rem;
}

.icon-tray .icon {
    height: 32px;
    width: 32px;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-image {
    height: 50%;
    min-height: 4rem;
}

.icon-tray {
    display: flex;
    flex-direction: row;
    height: 48px;
}

main {
    margin-bottom: 1rem;
}

footer {
    border-top: 1px solid gray;
}



@supports not (display: grid) {
    .projects-container {
        display: flex;
        flex-direction: row;
    }

    .project-card {
        width: 50%;
    }
  }

@media (min-width: 750px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }

  }

@media (min-width: 1024px) {
    .projects-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .top-menu-item {
        flex-grow: 0;
    }
  } 