/* Colors */

:root {
    --primary: #ffab47;
    --primary-light: #ffe357;
    --text: #3e272b;
    --secondary: #315d7b;
    --secondary-light: #99b7de;
    --secondary-dark: #505fab;
    --background: white;
}


/* Utility classes */
.center {
    text-align: center;
    align-self: center;
}

.undecorated {
    list-style: none;
}

.sticky-wrapper {
    position: relative;
    height: 6rem;
}

.sticky nav {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index:1;
    background-color: white;
}

/* Other classes */

body {
    color: var(--text);
    background-color: var(--background)
}


/* Front page */

#intro-image {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url('../images/self-portrait.png');
    background-size: cover;
    background-position: center;
    transition: all 500ms;
    margin-bottom: 2rem;
}

#intro-image:hover {
    background-image: url('../images/self-portrait-photo.jpg');
    transition: all 500ms;
}
.front-page-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

.front-page-icons svg {
    height: 32px;
    width: 32px;
    fill: var(--secondary);
    transition: all 250ms;
}

.front-page-icons svg:hover {
    fill: var(--primary);
    transition: all 250ms;
}


/* Posts */
.featured-post-image {
    height: 100px;
    width: 100px;
}


/* Misc */

main {
    margin-bottom: 1rem;
}

button {
    border: 2px solid var(--primary);
    background: none !important;
    border-radius: 12px;
    color: var(--text);
    padding: 0.3rem;
}

footer {
    border-top: 1px solid gray;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-icons svg {
    height: 16px;
    width: 16px;
    margin: 0 0.4rem;
    fill: var(--secondary);
    transition: all 250ms;
}

.footer-icons svg:hover {
    fill: var(--primary);
    transition: all 250ms;
}

form {
    display: flex;
    flex-direction: column;
}

form.comment-form {
    max-width: 50%;
    margin: auto;
    padding: 2rem 0;
}

form.comment-form button {
    max-width: 75px;
}

/* Animations */

@keyframes tooltip {
    0% {
        opacity: 0;
        transform: scale(0.1,0.1);
        transform: translate(0,60px);
    }
    75% {
        opacity: 0.9;
        transform: scale(1.2,1.1);
    }
    80% {
        transform: scale(1, 0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
    }
  }


@media (min-width: 1024px) {
    .top-menu-item {
        flex-grow: 0;
    }
  } 